body {
    background-color: rgb(47, 156, 192);
    max-width: 500px;
    margin: auto;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
   
}

.container-item {

    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    height: 100%;

}

.container img {
    max-width: 300px;
    height: 200px;
    margin: auto;
}

.container button:active{
    background-color: rgb(72, 245, 124);
}

.container button {
    width: 200px;
    font-size: 14px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

.card{

        margin: 10px;
        color: hsl(0, 0%, 0%);
        border: 10px solid white;
        background-color: white;
        width: 600px;
        height: 18px;
    }
   


.btn{
    
    color: rgb(0, 0, 0);
  background-color: rgb(12, 238, 80);
  border: 2px solid rgb(12, 238, 80);
  border-radius: 8px;
  padding: 5px; 
  
  
}
