body {
    background-color: rgb(47, 156, 192);
    max-width: 500px;
    margin: auto;
}

.container{
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
   
}

.card{
    margin: 10px;
    color: hsl(0, 0%, 0%);
    border: 10px solid white;
    background-color: white
   
}

.btn{
    
    color: rgb(0, 0, 0);
  background-color: rgb(12, 238, 80);
  border: 2px solid rgb(12, 238, 80);
  border-radius: 8px;
  padding: 5px;
  
  
  
}